In [1]:
#STEP 1: import whatevers neccessary

In [1]:
import requests
import pandas as pd
import arrow
import os
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import pandas_datareader as pdr
import seaborn as sns
from array import array

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (3.0.5)
Requirement already satisfied: et-xmlfile in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from openpyxl) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install -U arrow

Requirement already up-to-date: arrow in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (1.0.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.0 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from arrow) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.0->arrow) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (2.24.0)
Requirement already satisfied: lxml in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied: pandas>=0.23 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (1.1.3)
Requirement already satisfied: idna<3,>=2.5 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (1.19.2)
Requirement already satisfied: six>=1.5 in /Users/atra/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
#STEP 2: import initial PETKIM stock data

In [12]:
data= pd.read_csv('PETKM_19aug.csv')

In [9]:
#Date is the index for time series data

In [13]:
data = data.rename(columns={'Unnamed: 0': 'Datetime'})

In [14]:
data=data.set_index("Datetime")

In [15]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2019-01-24 10:30:00+03:00,3.658854,3.697917,3.626302,3.684896,0,0,0.0
2019-01-24 11:30:00+03:00,3.684896,3.704427,3.678385,3.697917,7332913,0,0.0
2019-01-24 12:30:00+03:00,3.697917,3.723958,3.691406,3.710938,5191050,0,0.0
2019-01-24 13:30:00+03:00,3.710938,3.710938,3.678385,3.684896,3521839,0,0.0
2019-01-24 14:30:00+03:00,3.684896,3.697917,3.678385,3.691406,4745478,0,0.0
...,...,...,...,...,...,...,...
2021-08-18 16:30:00+03:00,6.000000,6.020000,6.000000,6.000000,4517871,0,0.0
2021-08-19 09:30:00+03:00,5.920000,5.940000,5.870000,5.870000,13180694,0,0.0
2021-08-19 10:30:00+03:00,5.880000,5.890000,5.860000,5.880000,6253017,0,0.0
2021-08-19 11:30:00+03:00,5.880000,5.880000,5.870000,5.870000,1831459,0,0.0
2021-08-19 12:08:00+03:00,5.880000,5.880000,5.880000,5.880000,0,0,0.0

In [12]:
#STEP 3: SMA calculations

In [13]:
close=data.iloc[:, 3]

In [14]:
#selected only the closing prices with this command

In [15]:
SMA_5 = close.transform(lambda x: x.rolling(window = 5).mean())
SMA_15 = close.transform(lambda x: x.rolling(window = 15).mean())
SMA_ratio = SMA_15 / SMA_5

In [16]:
SMA_ratio.to_frame()
data['SMA_ratio'] = SMA_ratio

In [17]:
data

,OPEN,HIGH,LOW,CLOSE,VOLUME,USD_OPEN,USD_HIGH,USD_LOW,USD_CLOSE,USD_VOLUME,SMA_ratio
Datetime,,,,,,,,,,,
2019-10-21 06:30:00,2.941667,2.941667,2.908333,2.916667,0,5.7948,5.8103,5.7948,5.8067,0,NaN
2019-10-21 07:30:00,2.916667,2.916667,2.908333,2.908333,2189517,5.8067,5.8299,5.8067,5.8265,0,NaN
2019-10-21 08:30:00,2.916667,2.925000,2.900000,2.908333,4548833,5.8264,5.8307,5.8214,5.8292,0,NaN
2019-10-21 09:30:00,2.908333,2.916667,2.900000,2.908333,3268477,5.8292,5.8294,5.8153,5.8161,0,NaN
2019-10-21 10:30:00,2.908333,2.925000,2.900000,2.925000,12760250,5.8161,5.8222,5.8156,5.8208,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2021-03-30 09:30:00,5.630000,5.690000,5.620000,5.690000,7126470,8.3235,8.3581,8.3235,8.3554,0,0.989050
2021-03-30 10:30:00,5.690000,5.700000,5.590000,5.630000,23496943,8.3554,8.4474,8.3554,8.3974,0,0.993508
2021-03-30 11:30:00,5.630000,5.640000,5.590000,5.640000,6596788,8.3974,8.3974,8.3129,8.3242,0,0.996337
2021-03-30 12:30:00,5.640000,5.650000,5.620000,5.630000,5534093,8.3242,8.3273,8.2525,8.3115,0,0.998228
2021-03-30 13:30:00,5.620000,5.680000,5.620000,5.650000,8061267,8.3115,8.3269,8.3055,8.3221,0,0.998466

In [18]:
#SMA ratio added to initial dataframe
#ATRA - NOTE: can also add SMA_5 and SMA_15 if neccessary
#NaN is expected for the first 14 days - no problems so far

In [19]:
#STEP 4: ATR calculations

In [20]:
def Wilder(data, periods):
    start = np.where(~np.isnan(data))[0][0] #Check if nans present in beginning
    Wilder = np.array([np.nan]*len(data))
    Wilder[start+periods-1] = data[start:(start+periods)].mean() #Simple Moving Average
    for i in range(start+periods,len(data)):
        Wilder[i] = (Wilder[i-1]*(periods-1) + data[i])/periods #Wilder Smoothing
    return(Wilder)

In [21]:
data['prev_close'] = data['CLOSE'].shift(1)

In [22]:
data['TR'] = np.maximum((data['HIGH'] - data['LOW']), 
                     np.maximum(abs(data['HIGH'] - data['prev_close']), 
                     abs(data['prev_close'] - data['LOW'])))

In [23]:
for i in range(7):
    TR_data = data.iloc[:,i].copy()
    ATR_5 = Wilder(data['TR'], 5)
    ATR_14 = Wilder(data['TR'], 14)

In [24]:
list=ATR_5.tolist()
data["ATR_5"]=list
list=ATR_14.tolist()
data["ATR_15"]=list

In [25]:
data

,OPEN,HIGH,LOW,CLOSE,VOLUME,USD_OPEN,USD_HIGH,USD_LOW,USD_CLOSE,USD_VOLUME,SMA_ratio,prev_close,TR,ATR_5,ATR_15
Datetime,,,,,,,,,,,,,,,
2019-10-21 06:30:00,2.941667,2.941667,2.908333,2.916667,0,5.7948,5.8103,5.7948,5.8067,0,NaN,NaN,NaN,NaN,NaN
2019-10-21 07:30:00,2.916667,2.916667,2.908333,2.908333,2189517,5.8067,5.8299,5.8067,5.8265,0,NaN,2.916667,0.008333,NaN,NaN
2019-10-21 08:30:00,2.916667,2.925000,2.900000,2.908333,4548833,5.8264,5.8307,5.8214,5.8292,0,NaN,2.908333,0.025000,NaN,NaN
2019-10-21 09:30:00,2.908333,2.916667,2.900000,2.908333,3268477,5.8292,5.8294,5.8153,5.8161,0,NaN,2.908333,0.016667,NaN,NaN
2019-10-21 10:30:00,2.908333,2.925000,2.900000,2.925000,12760250,5.8161,5.8222,5.8156,5.8208,0,NaN,2.908333,0.025000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-30 09:30:00,5.630000,5.690000,5.620000,5.690000,7126470,8.3235,8.3581,8.3235,8.3554,0,0.989050,5.630000,0.070000,0.069080,0.081281
2021-03-30 10:30:00,5.690000,5.700000,5.590000,5.630000,23496943,8.3554,8.4474,8.3554,8.3974,0,0.993508,5.690000,0.110000,0.077264,0.083333
2021-03-30 11:30:00,5.630000,5.640000,5.590000,5.640000,6596788,8.3974,8.3974,8.3129,8.3242,0,0.996337,5.630000,0.050000,0.071811,0.080952
2021-03-30 12:30:00,5.640000,5.650000,5.620000,5.630000,5534093,8.3242,8.3273,8.2525,8.3115,0,0.998228,5.640000,0.030000,0.063449,0.077312
2021-03-30 13:30:00,5.620000,5.680000,5.620000,5.650000,8061267,8.3115,8.3269,8.3055,8.3221,0,0.998466,5.630000,0.060000,0.062759,0.076076

In [26]:
#ATR added to base dataframe
#ATRA - NOTE: can drop TR column, is it neccessary?

In [27]:
#STEP 5: RSI calculations

In [28]:
data['Diff'] = data['CLOSE'].transform(lambda x: x.diff())
data['Up'] = data['Diff']
data.loc[(data['Up']<0), 'Up'] = 0

data['Down'] = data['Diff']
data.loc[(data['Down']>0), 'Down'] = 0 
data['Down'] = abs(data['Down'])

data['avg_5up'] = data['Up'].transform(lambda x: x.rolling(window=5).mean())
data['avg_5down'] = data['Down'].transform(lambda x: x.rolling(window=5).mean())

data['avg_15up'] = data['Up'].transform(lambda x: x.rolling(window=15).mean())
data['avg_15down'] = data['Down'].transform(lambda x: x.rolling(window=15).mean())

data['RS_5'] = data['avg_5up'] / data['avg_5down']
data['RS_15'] = data['avg_15up'] / data['avg_15down']

data['RSI_5'] = 100 - (100/(1+data['RS_5']))
data['RSI_15'] = 100 - (100/(1+data['RS_15']))

data['RSI_ratio'] = data['RSI_5']/data['RSI_15']

In [29]:
data=data.drop(['Down', 'avg_5up','avg_5down', 'avg_15up','avg_15down', 'Diff', 'Up',"RS_5","RS_15" ], axis=1)

In [30]:
data

,OPEN,HIGH,LOW,CLOSE,VOLUME,USD_OPEN,USD_HIGH,USD_LOW,USD_CLOSE,USD_VOLUME,SMA_ratio,prev_close,TR,ATR_5,ATR_15,RS_5,RS_15,RSI_5,RSI_15,RSI_ratio
Datetime,,,,,,,,,,,,,,,,,,,,
2019-10-21 06:30:00,2.941667,2.941667,2.908333,2.916667,0,5.7948,5.8103,5.7948,5.8067,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-21 07:30:00,2.916667,2.916667,2.908333,2.908333,2189517,5.8067,5.8299,5.8067,5.8265,0,NaN,2.916667,0.008333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-21 08:30:00,2.916667,2.925000,2.900000,2.908333,4548833,5.8264,5.8307,5.8214,5.8292,0,NaN,2.908333,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-21 09:30:00,2.908333,2.916667,2.900000,2.908333,3268477,5.8292,5.8294,5.8153,5.8161,0,NaN,2.908333,0.016667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-21 10:30:00,2.908333,2.925000,2.900000,2.925000,12760250,5.8161,5.8222,5.8156,5.8208,0,NaN,2.908333,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-30 09:30:00,5.630000,5.690000,5.620000,5.690000,7126470,8.3235,8.3581,8.3235,8.3554,0,0.989050,5.630000,0.070000,0.069080,0.081281,1.250000,3.000010,55.555556,75.000064,0.740740
2021-03-30 10:30:00,5.690000,5.700000,5.590000,5.630000,23496943,8.3554,8.4474,8.3554,8.3974,0,0.993508,5.690000,0.110000,0.077264,0.083333,0.500002,1.850003,33.333409,64.912320,0.513514
2021-03-30 11:30:00,5.630000,5.640000,5.590000,5.640000,6596788,8.3974,8.3974,8.3129,8.3242,0,0.996337,5.630000,0.050000,0.071811,0.080952,0.727271,1.750003,42.105210,63.636403,0.661653
2021-03-30 12:30:00,5.640000,5.650000,5.620000,5.630000,5534093,8.3242,8.3273,8.2525,8.3115,0,0.998228,5.640000,0.030000,0.063449,0.077312,1.142861,2.187505,53.333418,68.627500,0.777144
2021-03-30 13:30:00,5.620000,5.680000,5.620000,5.650000,8061267,8.3115,8.3269,8.3055,8.3221,0,0.998466,5.630000,0.060000,0.062759,0.076076,1.285715,1.500001,56.250019,60.000024,0.937500

In [31]:
#RSI added to base dataframe
#ATRA - NOTE: can drop RSI_5 and RSI_15 if neccessary

In [32]:
#STEP 6: Stochastic Calculations

In [33]:
data['Lowest_15D'] = data["LOW"].transform(lambda x: x.rolling(window = 15).min())
data['High_15D'] = data['HIGH'].transform(lambda x: x.rolling(window = 15).max())

data['Stochastic_15'] = ((data['CLOSE'] - data['Lowest_15D'])/(data['High_15D'] - data['Lowest_15D']))*100

data['Stochastic_%K_15'] = data['Stochastic_15'].rolling(window = 15).mean()

In [34]:
data['Stochastic_%D'] = data['Stochastic_%K_15'].transform(lambda x: x.rolling(window = 3).mean())

In [35]:
data = data.drop(['Lowest_15D', 'High_15D','Stochastic_15'], axis=1)

In [36]:
data

,OPEN,HIGH,LOW,CLOSE,VOLUME,USD_OPEN,USD_HIGH,USD_LOW,USD_CLOSE,USD_VOLUME,...,TR,ATR_5,ATR_15,RS_5,RS_15,RSI_5,RSI_15,RSI_ratio,Stochastic_%K_15,Stochastic_%D
Datetime,,,,,,,,,,,,,,,,,,,,,
2019-10-21 06:30:00,2.941667,2.941667,2.908333,2.916667,0,5.7948,5.8103,5.7948,5.8067,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-21 07:30:00,2.916667,2.916667,2.908333,2.908333,2189517,5.8067,5.8299,5.8067,5.8265,0,...,0.008333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-21 08:30:00,2.916667,2.925000,2.900000,2.908333,4548833,5.8264,5.8307,5.8214,5.8292,0,...,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-21 09:30:00,2.908333,2.916667,2.900000,2.908333,3268477,5.8292,5.8294,5.8153,5.8161,0,...,0.016667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-21 10:30:00,2.908333,2.925000,2.900000,2.925000,12760250,5.8161,5.8222,5.8156,5.8208,0,...,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-30 09:30:00,5.630000,5.690000,5.620000,5.690000,7126470,8.3235,8.3581,8.3235,8.3554,0,...,0.070000,0.069080,0.081281,1.250000,3.000010,55.555556,75.000064,0.740740,66.286323,61.357219
2021-03-30 10:30:00,5.690000,5.700000,5.590000,5.630000,23496943,8.3554,8.4474,8.3554,8.3974,0,...,0.110000,0.077264,0.083333,0.500002,1.850003,33.333409,64.912320,0.513514,68.914333,65.552476
2021-03-30 11:30:00,5.630000,5.640000,5.590000,5.640000,6596788,8.3974,8.3974,8.3129,8.3242,0,...,0.050000,0.071811,0.080952,0.727271,1.750003,42.105210,63.636403,0.661653,71.251998,68.817552
2021-03-30 12:30:00,5.640000,5.650000,5.620000,5.630000,5534093,8.3242,8.3273,8.2525,8.3115,0,...,0.030000,0.063449,0.077312,1.142861,2.187505,53.333418,68.627500,0.777144,74.109145,71.425159
2021-03-30 13:30:00,5.620000,5.680000,5.620000,5.650000,8061267,8.3115,8.3269,8.3055,8.3221,0,...,0.060000,0.062759,0.076076,1.285715,1.500001,56.250019,60.000024,0.937500,74.222788,73.194644

In [37]:
#Stochastic indicators added to the base dataframe

In [38]:
#STEP 7: MACD Calculations

In [39]:
data['7Ewm'] = data['CLOSE'].transform(lambda x: x.ewm(span=7, adjust=False).mean())
data['18Ewm'] = data['CLOSE'].transform(lambda x: x.ewm(span=18, adjust=False).mean())
data['MACD'] = data['7Ewm'] - data['18Ewm']

In [40]:
data['Signal_line'] = data['MACD'].transform(lambda x: x.ewm(span=9, adjust=False).mean())

In [41]:
data = data.drop(['7Ewm', '18Ewm'], axis=1)

In [42]:
data

,OPEN,HIGH,LOW,CLOSE,VOLUME,USD_OPEN,USD_HIGH,USD_LOW,USD_CLOSE,USD_VOLUME,...,ATR_15,RS_5,RS_15,RSI_5,RSI_15,RSI_ratio,Stochastic_%K_15,Stochastic_%D,MACD,Signal_line
Datetime,,,,,,,,,,,,,,,,,,,,,
2019-10-21 06:30:00,2.941667,2.941667,2.908333,2.916667,0,5.7948,5.8103,5.7948,5.8067,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2019-10-21 07:30:00,2.916667,2.916667,2.908333,2.908333,2189517,5.8067,5.8299,5.8067,5.8265,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001206,-0.000241
2019-10-21 08:30:00,2.916667,2.925000,2.900000,2.908333,4548833,5.8264,5.8307,5.8214,5.8292,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001984,-0.000590
2019-10-21 09:30:00,2.908333,2.916667,2.900000,2.908333,3268477,5.8292,5.8294,5.8153,5.8161,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.002453,-0.000962
2019-10-21 10:30:00,2.908333,2.925000,2.900000,2.925000,12760250,5.8161,5.8222,5.8156,5.8208,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.000292,-0.000828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-30 09:30:00,5.630000,5.690000,5.620000,5.690000,7126470,8.3235,8.3581,8.3235,8.3554,0,...,0.081281,1.250000,3.000010,55.555556,75.000064,0.740740,66.286323,61.357219,0.033686,0.024494
2021-03-30 10:30:00,5.690000,5.700000,5.590000,5.630000,23496943,8.3554,8.4474,8.3554,8.3974,0,...,0.083333,0.500002,1.850003,33.333409,64.912320,0.513514,68.914333,65.552476,0.027461,0.025088
2021-03-30 11:30:00,5.630000,5.640000,5.590000,5.640000,6596788,8.3974,8.3974,8.3129,8.3242,0,...,0.080952,0.727271,1.750003,42.105210,63.636403,0.661653,71.251998,68.817552,0.024009,0.024872
2021-03-30 12:30:00,5.640000,5.650000,5.620000,5.630000,5534093,8.3242,8.3273,8.2525,8.3115,0,...,0.077312,1.142861,2.187505,53.333418,68.627500,0.777144,74.109145,71.425159,0.019613,0.023820
2021-03-30 13:30:00,5.620000,5.680000,5.620000,5.650000,8061267,8.3115,8.3269,8.3055,8.3221,0,...,0.076076,1.285715,1.500001,56.250019,60.000024,0.937500,74.222788,73.194644,0.019042,0.022865

In [43]:
#MACD and signal line added to the base dataframe

In [44]:
#STEP 8: CCI Calculations

In [45]:
data["OF"] = (data['HIGH'] + data['LOW'] + data['CLOSE']) / 3 
data["CCI"] = pd.Series((data["OF"] - data["OF"].rolling(window= 20).mean()) / (0.015 * data["OF"].rolling(window= 20).std()))

In [46]:
data = data.drop(['OF'], axis=1)

In [47]:
data

,OPEN,HIGH,LOW,CLOSE,VOLUME,USD_OPEN,USD_HIGH,USD_LOW,USD_CLOSE,USD_VOLUME,...,RS_5,RS_15,RSI_5,RSI_15,RSI_ratio,Stochastic_%K_15,Stochastic_%D,MACD,Signal_line,CCI
Datetime,,,,,,,,,,,,,,,,,,,,,
2019-10-21 06:30:00,2.941667,2.941667,2.908333,2.916667,0,5.7948,5.8103,5.7948,5.8067,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN
2019-10-21 07:30:00,2.916667,2.916667,2.908333,2.908333,2189517,5.8067,5.8299,5.8067,5.8265,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001206,-0.000241,NaN
2019-10-21 08:30:00,2.916667,2.925000,2.900000,2.908333,4548833,5.8264,5.8307,5.8214,5.8292,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001984,-0.000590,NaN
2019-10-21 09:30:00,2.908333,2.916667,2.900000,2.908333,3268477,5.8292,5.8294,5.8153,5.8161,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.002453,-0.000962,NaN
2019-10-21 10:30:00,2.908333,2.925000,2.900000,2.925000,12760250,5.8161,5.8222,5.8156,5.8208,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.000292,-0.000828,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-30 09:30:00,5.630000,5.690000,5.620000,5.690000,7126470,8.3235,8.3581,8.3235,8.3554,0,...,1.250000,3.000010,55.555556,75.000064,0.740740,66.286323,61.357219,0.033686,0.024494,66.464430
2021-03-30 10:30:00,5.690000,5.700000,5.590000,5.630000,23496943,8.3554,8.4474,8.3554,8.3974,0,...,0.500002,1.850003,33.333409,64.912320,0.513514,68.914333,65.552476,0.027461,0.025088,46.058890
2021-03-30 11:30:00,5.630000,5.640000,5.590000,5.640000,6596788,8.3974,8.3974,8.3129,8.3242,0,...,0.727271,1.750003,42.105210,63.636403,0.661653,71.251998,68.817552,0.024009,0.024872,32.534472
2021-03-30 12:30:00,5.640000,5.650000,5.620000,5.630000,5534093,8.3242,8.3273,8.2525,8.3115,0,...,1.142861,2.187505,53.333418,68.627500,0.777144,74.109145,71.425159,0.019613,0.023820,36.549162
2021-03-30 13:30:00,5.620000,5.680000,5.620000,5.650000,8061267,8.3115,8.3269,8.3055,8.3221,0,...,1.285715,1.500001,56.250019,60.000024,0.937500,74.222788,73.194644,0.019042,0.022865,43.949831

In [48]:
#CCI is added to the base dataframe

In [ ]:
#May add other indicators - Fırat

In [49]:
#STEP N: see if there is a delayed effect of any of the indicators

In [50]:
#Method: Use Pearson's R and whatever hours lag gives the highest correlation, it has that
#many hours delayed effect on the stock prices

In [51]:
lag=[]

for i in range(21):
    lag.append(i)

In [52]:
#ATRA - NOTE: 10 periods of delay were inspected - 15 periods long indicators yielded error
#So 20 periods lag is created

In [53]:
data=data.dropna()

In [54]:
#Dropped NaN to avoid any mistakes - though I'm not sure about it

In [55]:
y1=data['SMA_ratio']
y2=data['CLOSE']

list=[]

df = pd.DataFrame(y1)

for i in range(21):
    y2=y2.shift(periods=i)
    df2=pd.DataFrame(y2)
    final=pd.concat([df,df2], axis=1)
    corr=final.corr()
    item=corr.iloc[0,1]
    list.append(item)
    
df=pd.DataFrame({"Lag":lag, 
                 "SMA_ratio Correlation":list})

df.sort_values(by='SMA_ratio Correlation', key=pd.Series.abs, ascending=False)

    Lag  SMA_ratio Correlation
0     0              -0.103131
1     1              -0.098999
2     2              -0.081422
10   10               0.037249
3     3              -0.036120
11   11               0.035817
9     9               0.031986
8     8               0.031615
5     5               0.030011
20   20               0.029391
12   12               0.029101
7     7               0.028662
6     6               0.028150
19   19               0.027488
18   18               0.023477
4     4               0.009654
15   15              -0.006020
13   13               0.003378
16   16              -0.003168
14   14               0.003026
17   17               0.002815

In [56]:
#Conclusion: SMA_ratio has no delayed effect

In [57]:
y1=data['ATR_5']

list=[]

df = pd.DataFrame(y1)

for i in range(21):
    y2=y2.shift(periods=i)
    df2=pd.DataFrame(y2)
    final=pd.concat([df,df2], axis=1)
    corr=final.corr()
    item=corr.iloc[0,1]
    list.append(item)
    
df=pd.DataFrame({"Lag":lag, 
                 "ATR_5 Correlation":list})

df.sort_values(by='ATR_5 Correlation', key=pd.Series.abs, ascending=False)

    Lag  ATR_5 Correlation
12   12           0.643841
11   11           0.641792
13   13           0.639110
14   14           0.632265
10   10           0.630732
9     9           0.629331
8     8           0.627826
7     7           0.621249
6     6           0.618251
5     5           0.612769
15   15           0.609236
4     4           0.606074
3     3           0.602617
2     2           0.600560
1     1           0.599420
0     0           0.599260
16   16           0.588097
18   18           0.570337
19   19           0.560654
17   17           0.559528
20   20           0.546552

In [58]:
#Conclusion: ATR_5 has 12 periods delayed effect on stock prices

In [59]:
y1=data['ATR_15']

list=[]

df = pd.DataFrame(y1)

for i in range(21):
    y2=y2.shift(periods=i)
    df2=pd.DataFrame(y2)
    final=pd.concat([df,df2], axis=1)
    corr=final.corr()
    item=corr.iloc[0,1]
    list.append(item)
    
df=pd.DataFrame({"Lag":lag, 
                 "ATR_15 Correlation":list})

df.sort_values(by='ATR_15 Correlation', key=pd.Series.abs, ascending=False)

    Lag  ATR_15 Correlation
0     0            0.646375
4     4            0.646301
5     5            0.646004
1     1            0.645952
2     2            0.645013
3     3            0.644871
6     6            0.641279
7     7            0.634944
8     8            0.629771
9     9            0.617360
10   10            0.597408
11   11            0.572264
12   12            0.546255
13   13            0.524578
16   16            0.520505
14   14            0.519659
17   17            0.519290
15   15            0.510080
18   18            0.507081
19   19            0.477494
20   20            0.428715

In [60]:
#Conclusion: ATR_15 has no delayed effect

In [61]:
y1=data['RSI_ratio']

list=[]

df = pd.DataFrame(y1)

for i in range(21):
    y2=y2.shift(periods=i)
    df2=pd.DataFrame(y2)
    final=pd.concat([df,df2], axis=1)
    corr=final.corr()
    item=corr.iloc[0,1]
    list.append(item)
    
df=pd.DataFrame({"Lag":lag, 
                 "RSI_ratio Correlation":list})

df.sort_values(by='RSI_ratio Correlation', key=pd.Series.abs, ascending=False)

    Lag  RSI_ratio Correlation
12   12              -0.047085
15   15              -0.041028
14   14              -0.040554
13   13              -0.031770
16   16              -0.030058
11   11              -0.029650
2     2              -0.029083
10   10              -0.027263
1     1              -0.026210
17   17              -0.025653
0     0              -0.025089
3     3              -0.023785
5     5              -0.022185
20   20               0.021597
6     6              -0.018845
4     4              -0.014061
9     9              -0.013971
8     8              -0.010515
7     7              -0.008129
19   19              -0.006979
18   18              -0.004311

In [62]:
#Conclusion: RSI_ratio has 16 periods delay

In [63]:
y1=data['Stochastic_%D']

list=[]

df = pd.DataFrame(y1)

for i in range(21):
    y2=y2.shift(periods=i)
    df2=pd.DataFrame(y2)
    final=pd.concat([df,df2], axis=1)
    corr=final.corr()
    item=corr.iloc[0,1]
    list.append(item)
    
df=pd.DataFrame({"Lag":lag, 
                 "Stochastic_%D Correlation":list})

df.sort_values(by='Stochastic_%D Correlation', key=pd.Series.abs, ascending=False)

    Lag  Stochastic_%D Correlation
17   17                  -0.127393
18   18                  -0.120059
19   19                  -0.118644
16   16                  -0.118313
15   15                  -0.093717
13   13                  -0.062608
12   12                  -0.048558
14   14                  -0.045510
11   11                  -0.028992
5     5                   0.025770
20   20                  -0.024173
4     4                   0.017007
8     8                  -0.014578
6     6                   0.012839
7     7                  -0.011081
0     0                  -0.008492
1     1                  -0.007245
10   10                  -0.006061
3     3                   0.004782
2     2                  -0.003443
9     9                   0.000665

In [64]:
#Conclusion: Stochastic_%D has 19 periods delay

In [65]:
y1=data['Stochastic_%K_15']

list=[]

df = pd.DataFrame(y1)

for i in range(21):
    y2=y2.shift(periods=i)
    df2=pd.DataFrame(y2)
    final=pd.concat([df,df2], axis=1)
    corr=final.corr()
    item=corr.iloc[0,1]
    list.append(item)
    
df=pd.DataFrame({"Lag":lag, 
                 "Stochastic_%K_15 Correlation":list})

df.sort_values(by='Stochastic_%K_15 Correlation', key=pd.Series.abs, ascending=False)

    Lag  Stochastic_%K_15 Correlation
20   20                     -0.126437
11   11                     -0.107835
12   12                     -0.096913
19   19                     -0.094695
18   18                     -0.086503
13   13                     -0.086502
14   14                     -0.084591
10   10                     -0.079460
16   16                     -0.065382
15   15                     -0.063808
9     9                     -0.054075
8     8                     -0.042396
7     7                     -0.040604
17   17                     -0.033403
6     6                     -0.027470
0     0                     -0.020821
1     1                     -0.019039
5     5                     -0.018872
4     4                     -0.018050
2     2                     -0.016880
3     3                     -0.016738

In [66]:
#Conclusion: Stochastic_%K_15 has no delay

In [67]:
y1=data['MACD']

list=[]

df = pd.DataFrame(y1)

for i in range(21):
    y2=y2.shift(periods=i)
    df2=pd.DataFrame(y2)
    final=pd.concat([df,df2], axis=1)
    corr=final.corr()
    item=corr.iloc[0,1]
    list.append(item)
    
df=pd.DataFrame({"Lag":lag, 
                 "MACD Correlation":list})

df.sort_values(by='MACD Correlation', key=pd.Series.abs, ascending=False)

    Lag  MACD Correlation
10   10         -0.137168
15   15         -0.130667
9     9         -0.123488
13   13         -0.122305
11   11         -0.118584
12   12         -0.115709
14   14         -0.114528
8     8         -0.108534
7     7         -0.092854
6     6         -0.079536
20   20         -0.077610
17   17         -0.072802
5     5         -0.066177
16   16         -0.063568
4     4         -0.050247
18   18         -0.041891
3     3         -0.041386
2     2         -0.035948
1     1         -0.033277
0     0         -0.032165
19   19         -0.027848

In [68]:
#Conclusion: MACD has 13 periods delay

In [69]:
y1=data['CCI']

list=[]

df = pd.DataFrame(y1)

for i in range(21):
    y2=y2.shift(periods=i)
    df2=pd.DataFrame(y2)
    final=pd.concat([df,df2], axis=1)
    corr=final.corr()
    item=corr.iloc[0,1]
    list.append(item)
    
df=pd.DataFrame({"Lag":lag, 
                 "CCI Correlation":list})

df.sort_values(by='CCI Correlation', key=pd.Series.abs, ascending=False)

    Lag  CCI Correlation
15   15         0.180062
14   14         0.170174
12   12         0.161316
13   13         0.153703
11   11         0.111210
16   16         0.102209
20   20         0.087713
17   17         0.085804
10   10         0.073083
19   19         0.064355
18   18         0.048376
9     9         0.041404
1     1        -0.029855
8     8         0.029588
2     2        -0.029524
0     0        -0.029166
7     7         0.026143
3     3        -0.025457
4     4        -0.017645
6     6         0.009409
5     5        -0.008657

In [70]:
#Conclusion: CCI has 18 periods delay

In [74]:
y1=data['USD_CLOSE']

list=[]

df = pd.DataFrame(y1)

for i in range(21):
    y2=y2.shift(periods=i)
    df2=pd.DataFrame(y2)
    final=pd.concat([df,df2], axis=1)
    corr=final.corr()
    item=corr.iloc[0,1]
    list.append(item)
    
df=pd.DataFrame({"Lag":lag, 
                 "USD_CLOSE Correlation":list})

df.sort_values(by='USD_CLOSE Correlation', key=pd.Series.abs, ascending=False)

    Lag  USD_CLOSE Correlation
14   14              -0.794188
13   13              -0.791105
12   12              -0.754665
15   15              -0.745243
11   11              -0.702664
16   16              -0.662533
10   10              -0.661618
9     9              -0.615316
8     8              -0.582513
17   17              -0.582325
7     7              -0.562227
6     6              -0.538921
5     5              -0.509532
18   18              -0.487885
4     4              -0.483242
3     3              -0.462142
2     2              -0.447033
1     1              -0.436883
0     0              -0.431852
19   19              -0.363320
20   20              -0.184645

In [ ]:
#Conclusion: USD has 14 periods delay

In [ ]:
#Lag inspection for other indicators that may be added

In [71]:
#ATRA - NOTE: 1 period = 1 hour, but the time does not keep running if the stock market is
#closed

In [72]:
#Overall conclusion of this step: if there is delay, shift that column in the base dataframe
#as much as the lag

In [75]:
writer = pd.ExcelWriter('final_data.xlsx')
data.to_excel(writer)
writer.save()

In [ ]:
#just to play with the data without having to re-run this entirely